<div id="main-nav" class="navbar navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button>
			<!-- ======= LOGO ========-->
			<a class="navbar-brand scrollto" href="/#home">
				<!--<span class="logo-small"><img src="{{ 'favicon.png' | theme_image_url }}" alt=""/></span>
						<span class="to-top"><i class="fa fa-arrow-up"></i></span>-->
				Jiří Kubíček<br /><small>zastupitel hlavního města Prahy</small>
				<!-- ==== Image Logo ==== -->
				<!--<img class="site-logo" src="assets/google-logo.png" alt="logo" />-->
			</a>
		</div>

		<div id="site-nav" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="sr-only"><a href="/#home" class="scrollto">Home</a></li>
				<li><a href="/#profile" class="scrollto">O mně</a></li>
				<li><a href="/#prosazuji" class="scrollto">Prosazuji</a></li>
				<li><a href="/#kalendar" class="scrollto">Kalendář</a></li>
				<li><a href="/#videa" class="scrollto">Videa</a></li>
				<li><a href="/#fotky" class="scrollto">Fotky</a></li>
				<li><a href="/clanky">Články</a></li>
				<li><a href="/#kontakty" class="scrollto">Kontakty</a></li>
				<li><a href="https://twitter.com/kubicek" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
				<li><a href="https://www.facebook.com/kubicek.jiri" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
				</li>
				<!-- <li><a href="https://www.youtube.com/svobodni" target="_blank"><i class="fa fa-youtube fa-fw"></i></a></li> -->
			</ul>
		</div>
	</div>
</div>